<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedalist - User login</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Sweet alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Racing Sans One Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

    <!-- Bullseye bullet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <!-- Navbar (transparent and positioned over the image) -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="pedalist-logo.png" alt="Logo" width="60" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
    </nav>


    <!-- Background image section -->
    <div class="background-image">
        <div class="color-overlay"></div>

        <!-- Login Form -->
        <div class="otp">
            <img alt="Illustration of a hand holding a phone with a checkmark on the screen" height="150"
                src="https://storage.googleapis.com/a1aa/image/ACGPuh2hPXp8IxHvSRhtBbEUlCjRvgBs1hIAWShnKNqdjB5E.jpg"
                width="150" />
            <h2>OTP Verification</h2>
            <p>Enter the OTP sent to +91 9544796346</p>
            <form id="otpForm" action="/verify-otp" method="post" onsubmit="return validateOTPForm(event)">

                <div class="otp-inputs">
                    <input maxlength="1" type="text" class="otp-input" required />
                    <input maxlength="1" type="text" class="otp-input" required />
                    <input maxlength="1" type="text" class="otp-input" required />
                    <input maxlength="1" type="text" class="otp-input" required />
                    <input maxlength="1" type="text" class="otp-input" required />
                    <input maxlength="1" type="text" class="otp-input" required />
                </div>
                <p class="resend">
                    Didn't you receive the OTP? Resend OTP in <span id="timer">30</span> seconds
                    <a href="#" id="resendLink" style="pointer-events: auto; opacity: 1;" onclick="resendOTP()">Resend
                        OTP</a>
                </p>

                <button type="submit" class="verify-button" id="verifyButton">Verify</button>

            </form>
        </div>

    </div>

    <%- include('../partials/user/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const timerElement = document.getElementById('timer');
                const resendLink = document.getElementById('resendLink');
                const otpInputs = document.querySelectorAll('.otp-input'); 
                let timer = 30;

                resendLink.style.pointerEvents = 'none';
                resendLink.style.opacity = '0.5';
                const countdown = setInterval(function () {
                    timer--;
                    timerElement.textContent = timer;

                    if (timer === 0) {
                        clearInterval(countdown);
    
                        resendLink.style.pointerEvents = 'auto'; 
                        resendLink.style.opacity = '1'; 
                        resendLink.textContent = 'Resend OTP';
                    }
                }, 1000);

                
                resendLink.addEventListener("click", function (event) {
                    event.preventDefault();

            
                    resendLink.style.pointerEvents = 'none'; 
                    resendLink.style.opacity = '0.5'; 
                    timer = 30;
                    timerElement.textContent = timer;


                    const timerInterval = setInterval(function () {
                        timer--;
                        timerElement.textContent = timer;

                        if (timer === 0) {
                            clearInterval(timerInterval);
                            resendLink.style.pointerEvents = 'auto';
                            resendLink.style.opacity = '1';
                            resendLink.textContent = 'Resend OTP';
                        }
                    }, 1000);
                });

                otpInputs.forEach((input, index) => {
                    input.addEventListener('input', () => {
                        if (input.value.length === 1 && index < otpInputs.length - 1) {
                            otpInputs[index + 1].focus();
                        }
                    });

                    input.addEventListener('keydown', (event) => {
                        if (event.key === 'Backspace' && input.value === '' && index > 0) {
                            otpInputs[index - 1].focus();
                        }
                    });

                    input.addEventListener('paste', (event) => {
                        const pastedData = event.clipboardData.getData('text').slice(0, 6);
                        otpInputs.forEach((otpInput, idx) => {
                            otpInput.value = pastedData[idx] || ''; 
                            if (idx < pastedData.length) {
                                otpInput.dispatchEvent(new Event('input')); 
                            }
                        });
                        event.preventDefault(); 
                    });
                });
            });

            document.getElementById('verifyButton').addEventListener('click', function (event) {
                event.preventDefault();
                let otpValue = '';
                const otpInputs = document.querySelectorAll('.otp-input'); 

                otpInputs.forEach((input) => {
                    otpValue += input.value;
                });

                console.log('OTP entered:', otpValue);

                if (otpValue.length !== 6) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Please enter a valid 6-digit OTP'
                    });
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/verify-otp",
                    data: { otp: otpValue },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: "success",
                                title: "OTP Verified Successfully",
                                showConfirmButton: false,
                                timer: 1500,
                            }).then(() => {
                                window.location.href = response.redirectUrl;
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Error",
                                text: response.message
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: "error",
                            title: "Invalid OTP",
                            text: "Please enter a valid OTP"
                        });
                    }
                });

                return false;
            });

            function resendOTP() {
  
                let timer = 30;
                const timerElement = document.getElementById('timer');

                const resendLink = document.getElementById('resendLink');
                resendLink.style.pointerEvents = 'none';
                resendLink.style.opacity = '0.5';

                // Start countdown
                const countdown = setInterval(function () {
                    timer--;
                    timerElement.textContent = timer;

                    if (timer === 0) {
                        clearInterval(countdown);
                        resendLink.style.pointerEvents = 'auto'; // Enable clicks
                        resendLink.style.opacity = '1'; // Make the link fully visible
                        resendLink.textContent = 'Resend OTP'; // Update text
                    }
                }, 1000);

                // AJAX request to resend OTP
                $.ajax({
                    type: "POST",
                    url: "/resend-otp",
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: "success",
                                title: "OTP Resent Successfully",
                                showConfirmButton: false,
                                timer: 1500,
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Error",
                                text: "An error occurred while resending OTP. Please try again"
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "An error occurred. Please try again later."
                        });
                    }
                });
            }


        </script>